<span class='web_logo'><%= image_tag 'web_logo_black.png', title: 'Dáme Práci.cz'%></span>

<span class='partners_logo'><%= image_tag 'partners_bw.png', title: 'Projekt č. CZ.1.04/5.1.01/77.00440 je financován z Evropského sociálního fondu prostřednictvím Operačního programu Lidské zdroje a zaměstnanost a ze státního rozpočtu ČR.' %></span>

<div class='download_apps' style="display:none">
  <a href="#">Stáhnete si aplikaci pro iPhone</a>
  <a href="#">Stáhnete si aplikaci pro Android</a>
</div>
