
<h1> Dáme Práci.cz</h1>
<div class='partners_logos' title= "Projekt č. CZ.1.04/5.1.01/77.00440 je financován z Evropského sociálního fondu prostřednictvím Operačního programu Lidské zdroje a zaměstnanost a ze státního rozpočtu ČR."></div>
<div class='download_apps' style="display:none">
  <a href="#">Stáhnete si aplikaci pro iPhone</a>
  <a href="#">Stáhnete si aplikaci pro Android</a>
</div>