
<h1> D치me Pr치ci.cz</h1>
<div class='partners_logos'></div>
<div class='download_apps' style="display:none">
  <a href="#">St치hnete si aplikaci pro iPhone</a>
  <a href="#">St치hnete si aplikaci pro Android</a>
</div>