.list-group a.active, .list-group a

  .new_badge
    width: 0
    height: 0
    border-top: 40px solid #f9b233
    border-left: 40px solid transparent
    padding-top: -10px
    right: 0px
    top: 0px
    position: absolute
    &.gray
      border-top: 40px solid #ccc
    &.red
      border-top: 40px solid #d9534f
    &.green
      border-top: 40px solid #4cae4c
    .badge_container
      width:  40px
      height: 40px
      overflow: hidden
      position: absolute
      left: -40px
      top:  -40px

      [class^="icon-"]:before, [class*=" icon-"]:before
        color: white
        top: 5px
        position: relative
        display: block
        right: -20px
        color: white
        font-size: 15px

      span
        top: 12px
        position: relative
        -moz-transform: rotate(-45deg)
        -webkit-transform: rotate(45deg)
        -o-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        transform: rotate(45deg)
        display: block
        right: -12px
        color: white
        font-size: 12px
        line-height: 12px

        .badge-icon:before
          right: -5px
          top: -2px

.status-box
  div
    padding: 10px
    margin-top: 10px
    margin-bottom: 10px
    color: white
    border-radius: 10px
  .gray
    background: #ccc
  .red
    background: #d9534f
  .green
    background: #4cae4c
