.infinite-scroll-box
  position: absolute
  top: 50px
  left: 0
  right: 0
  bottom: 0
  overflow-y: scroll
  overflow-x: hidden

.ember-animated-container
  position: fixed
  bottom: 0px

.infinite-scroll-detail
  bottom: 50px