
.list-group
  a
    display: block
    text-decoration: none

    &.active
      background: #f7f8f8
      .link_to_detail
        &:before
          color: #000
      [class^="icon-"], [class*=" icon-"] 
        color: #999
        &:before
          color: #F9B233

  a:visited
    color: #000




.job_posting
  &.list
    position: relative
    cursor: pointer
    border-bottom: 1px solid #ddd
    padding-top: 10px
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 5px
    min-height: 75px
  .title
    font-weight: bold
    margin-right: 30px
    &:first-letter
      text-transform: uppercase
  .contact
    color: #555
    margin-right: 30px

  .arrow_to_detail
    position: absolute
    right: 0px
    top: 0px
    bottom: 0px
    width: 30px
    i
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      width: 100%
      height: 60px
      margin: auto
      font-size: 60px
      line-height: 60px
  ul
    margin-top: 4px
    margin-bottom: 4px
    margin-left: 0px
    li
      color: #aaa
      margin-left: 0px
      list-style: none
      display: inline-block
      min-width: 7em
      margin-right: 10px
      line-height: 1
  [class^="icon-"], [class*=" icon-"] 
    &:before
      color: #F9B233
      margin-right: 5px
      top: 1px
      position: relative
  .link_to_detail
    &:before
      color: #ccc

.liked
  .icon-star
    color: #F9B233
    &:hover
      color: #C18729

.job_posting_detail
  margin: 20px
  h1
    font-size: 23px
    line-height: 27px
    margin-top: 0px
    margin-bottom: 0px
    &:first-letter
      text-transform: uppercase
  h2
    font-size: 16px
    line-height: 18px
    margin-top: 8px
    margin-bottom: 10px

  ul
    margin-left: 0px
    li
      color: #666
      font-size: 14px
      line-height: 20px
      list-style: none

  .detail_text
    margin-bottom: 25px
.contact_link
  display: inline-block
  width: 100%
  padding: 5px 10px
  margin-bottom: 8px
  font-weight: 500
  line-height: 1.428571429
  text-align: left
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  color: white
  border: 1px solid transparent
  border-radius: 4px
  &:focus
    outline: thin dotted #333
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px
  &:hover, &:focus
    color: #fff
    text-decoration: none
  &:active, &.active
    background-image: none
    outline: 0
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
  &.disabled, &[disabled]
    pointer-events: none
    cursor: default
    opacity: 0.65
    filter: alpha(opacity = 65)
    -webkit-box-shadow: none
    box-shadow: none
  background-color: #5cb85c
  border-color: #5cb85c
  &:hover, &:focus, &:active, &.active
    background-color: #4cae4c
    border-color: #449d44
  &.disabled:hover, &[disabled]:hover
    background-color: #5cb85c
    border-color: #5cb85c
