#frame_index
  left: 0px
#frame_detail
  left: 100%
#frame_liked
  top: 100%
#frame_info
  left: -100%
#frame_menu
  left: -100%

.push-liked #frame_liked
  top: 0
.push-detail #frame_detail
  left: 0
.push-menu #frame_menu
  left: 0
.push-info #frame_info
  left: 0


.three_column_header
  display: none


@media all and (min-width: 800px)
  #frame_index,#frame_detail,#frame_liked,#frame_info,#frame_menu
    width: 50%

  #frame_index
    left: 0px
  #frame_detail
    left: 50%
  #frame_liked
    top: 100%
    left: 0px
  #frame_info
    left: 100%
  #frame_menu
    left: 50%

  .push-liked #frame_liked
    top: 0
  .push-detail #frame_detail
    left: 50%
  .push-detail #frame_menu
    left: 100%
  .push-menu #frame_menu
    left: 50%
  .push-info #frame_info
    left: 50%


  #frame_index, #frame_liked
    a.pull-left
      opacity: 0

  .push-detail
    #frame_index, #frame_liked
      a.pull-left
        opacity: 1.0

  a.back_button
    display: none

@media all and (min-width: 1200px)
  #frame_index,#frame_liked,#frame_info,#frame_menu
    width: 30%
  #frame_detail
    width: 40%

  #frame_index
    left: 30%
  #frame_detail
    left: 60%
  #frame_liked
    top: 100%
    left: 30%
  #frame_info
    left: -30%
  #frame_menu
    left: 0%

  .push-liked #frame_liked
    top: 0
  .push-detail #frame_detail
    left: 60%
  .push-detail #frame_menu
    left: 0%
  .push-menu #frame_menu
    left: 0%
  .push-info #frame_info
    left: 0%

  .three_column_header
    display: inline-block


  #frame_index, #frame_liked
    a.pull-left
      display: none

  .push-detail
    #frame_index, #frame_liked
      a.pull-left
        opacity: 0

  a.back_button
    display: none



@media (orientation:landscape)
  html.ipad.ios7 > body
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
