

#web_header
  h1
    text-indent: -100em
    background: image-url('web_logo_black.png')
    width: 463px
    height: 75px
  .download_apps
    position: absolute
    right: 50px
    top: 58px


#web_footer
  background: #000
  color: #fff
  position: absolute
  height: 50px
  bottom: 0px
  left:  0
  right: 0
  text-align: center
  padding-top: 10px
  a
    color: #fff

#application_container
  border-top: 1px solid #aaa
  border-bottom: 1px solid #aaa
  overflow: hidden
  position: absolute
  top: 110px
  bottom: 50px
  left:  0
  right: 0
  width: 100%

#application
  position: absolute
  height: 100%
  width: 100%

#application.push-left, #application.push-right
  left: 0px
